<footer
  style="
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
    max-width: 375px;
    text-align: center;
    font-size: 16px;
  "
>
  <span class="quote"
    >Hackers often describe what they do as playfully creative problem
    solving.</span
  >
  <a class="footerGit" href="https://github.com/drenchoman">
    <img class="filterWhite" src="/images/github.svg" />
  </a>
</footer>
