<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title %></title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <div>
        <% categories.forEach(function(category) { %>
        <h2><%= category.name %></h2>
        <% }); %>
      </div>
    </div>
    <a href="/">Home</a>
    <script src="" async defer></script>
  </body>
</html>
