<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title %></title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <form class="form" method="POST" action="/categories/new">
        <label for="name">Category Name</label>
        <input name="name" type="text" required placeholder="Flags" />
        <button type="submit">Add</button>
      </form>
      <%- include("../partials/errors.ejs") %>
      <br />
      <a href="/">Home</a>
    </div>

    <script src="" async defer></script>
  </body>
</html>
