<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title %></title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <section>
      <h1><%= title %></h1>
      <div>
        <div>
          <% emojis.forEach(function(emoji) { %>
          <h2><%= emoji.name %></h2>
          <span><%= emoji.emoji_icon %></span>
          <% }); %>
        </div>
      </div>
      <a href="/owners">All Owners</a>
      <a href="/categories">All Categories</a>
      <br />
      <a href="/owners/new">Create New Owner</a>
      <a href="/categories/new">Create New Category</a>
    </section>
    <script src="" async defer></script>
  </body>
</html>
