<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
  </head>
  <body>
    <% if (currentUser) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <a href="/log-out">LOG OUT</a>
    <% } else { %>
    <h1>Hello world</h1>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
    <% } %>
  </body>
</html>
