<h1><%= title %></h1>
<form method="POST" action="/new">
  <label for="username"></label>
  <input name="username" id="username" type="text" required />
  <button type="submit">Add</button>
</form>
<a href="/">Home</a>
